<meta charset="utf-8" />
<meta name="author" content="Wesley Smits">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<meta name="description" content="<%= meta_description %>" />
<link rel="canonical" href="<%= url_for(:only_path => false) %>" />
<%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>